*{
    /*font-family: "Pontano Sans";*/
}

a:link{}
a:hover{}
a:active{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}

.pointer{
    cursor: pointer;
}


#background{
    background-image: url("../assets/img/fundo.jpg");
    background-size: 1300px;
    background-position: 40% 60%;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

footer{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.layer_preto_menu{
    width: 100vw;
    height: 100vh;

    opacity: 0.4;
    background-color: black;

    position: absolute;
}

#logo{
    width: 20vmin;
    height: 20vmin;
    border: 1px solid transparent;
    border-radius: 50%;
    z-index: +100;
    transform: translate(-50%, -50%);
}

.text-parcerias{
    font-family: Poppins;
    font-weight: bold;
    color: black!important;
    background-color: #FFDB58;
    padding: 2vmin 2.5vmin 2vmin 2.5vmin;
    border-radius: 10.497px;
}

/** index **/
.img-provisorio{
    width: 30vmin;
    height: 30vmin;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#opcoes_entrada{
    padding-top: 55vh;
}

#opcoes_entrada button{
    font-family: 'Pontano Sans', sans-serif;
    padding: 1.2vh 5vw 1.2vh 5vw;
    border: 1px solid transparent;
    border-radius: 42px;
    width: 50vw;
    background:  linear-gradient(to right, #ffeba4 0%,#ffdb58 100%);

    cursor: pointer;
}

#opcoes_entrada button a{
    color: black!important;
    cursor: pointer;

}
/* ENTRAR */
.titulo-1{
    color: #FFDB58;
    font-family: Poppins Black;
    font-size: 10vmin;
}

#form_entrada input{
    background-color: #FFEBA4;
    border: transparent;
    border-radius: 45px;
    padding: 2vmin 2vmin 2vmin 8vmin;
}

#submit_entrar{
    background: linear-gradient(to right, #ffeba4 0%,#ffdb58 100%);
}












.seta{
    width: 5vmin;
    height: auto;
    cursor: pointer;
}

.esquerda{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH();
    -ms-filter: "FlipH";
}

.display-none{
    display: none!important;
}

.pos-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/***MAPA****/
.sideBar{
    height: 83vh;
    width: 20vw;
    background-color: white;
    position: absolute;
}

#mapaSection{
    position: absolute;
    top: 0;
    z-index: -100;
    width: 100vw;
    height: 100vh;

    background-image: url("../assets/img/mapa/mapaua.png");
    background-size: 140%;
    background-position: -10vw -5vh;
}

.pin{
    position: absolute;
    left: 70vw;
    top: 71vh;

    width: 6vw;
    height: auto;
}

#textoPino{
    background-color: white;
    font-family: Poppins, sans-serif;
    font-size: 3vmin;
    text-align: center!important;

    width: 45vw;
    max-height: 10vh;
    z-index: +1000;

    display: flex;
    align-content: center;
    justify-content: center;

    border-radius: 10px;

    position: absolute;
    top: -5vh;
    left: 50%;
    transform: translate(-50%, -50%);

    -webkit-box-shadow: 0px 8px 27px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 27px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 27px -5px rgba(0,0,0,0.75);
}

#textoPino p {
    margin-bottom: 0;
    padding: 2vmin;
}