.mae_menu{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;

}

#circulo{
    width: 65vw;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#perfil{
    height: auto;
    position: absolute;
    left: 50%;
    top: 31%;
    transform: translate(-50%, -50%);
}

#historico{
    height: auto;
    position: absolute;
    left: 50%;
    top: 68%;
    transform: translate(-50%, -50%);
}

#horario{
    height: auto;
    position: absolute;
    left: 18%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#mapa{
    height: auto;
    position: absolute;
    left: 82%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#qrcode{
    width: 30vw;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menuIcon:hover{
    width: 16vw;
    transition: 0.7s ease;
}

.menuIcon:not(hover){
    width: 12vw;
    transition: 0.3s ease;
}

.pos-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}